@charset "utf-8";
/* CSS Document */

.body {
    background-color: #009;

}

.title_div {
    width: 100%;
    min-height: 10px;
    background-color: #009;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-bottom: 20px;
}

.title_name {
    text-align: center;
    font-family: "微软雅黑";
    font-size: 1.5em;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.nav {
    height: 100%;
    horiz-align: center;
}

.nav_mid {
    width: 100%;
    height: 40px;
    background: #666;
    float: left;
    vertical-align: middle;
}

.strategy_div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.strategy_name {
    font-size: 1em;
    font-family: "微软雅黑";
    color: #666;
}

.second{
    font-size: 1em;
}

.second_div{
    text-align: center;
    margin-bottom: 15px;
}
	

		
		
		
		
		
		
		
		
		
		
		
		
		
		

		
	
	
	